body {
    background-color: rgb(71, 46, 50);
    transition:background-color 2s;
}

.card{
    /* border:2px solid black; */
    text-align: center;
    width:50vw;
    margin:10% auto;
    position:relative;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px 5px rgb(71, 46, 50);
    background-color: white;
}

.quote{
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 0px;
}

.by{
    font-family: 'Nunito', sans-serif;
    text-align: right;
    padding-right:4rem;
    font-size:1.25rem;
    margin-right:5px;
    margin-top:2px;

}

h1{
    padding-top:1.5rem;
     font-family: 'Nunito', sans-serif;
}

.btn {
  background:rgb(71, 46, 50);
  border-radius: 14px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 22px;
  padding: 9px 14px 9px 15px;
  text-decoration: none;
  margin-bottom: 20px;
  /* position:relative;
  left:150px; */
}

.btn:hover {
  background:rgb(65,40,50);
 
  text-decoration: none;
}

@media only screen and (max-width:1024px)
{
    .card{
        width:90%;
    }
}